body{
    background-color: rosybrown;
    font-family: 'Open sans' serif;
    font-size: 20px;
}
/*header section*/
header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-image: url("../assets/image1.jpg");
    background-size: cover;
}
section{
    color: white;
}
#search-input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    font-size: 100%;
    padding: 0px 10px;
}
#submit {
    height: 30px;
    border-radius: 10px;
    border-style: none;
    font-size: 100%;
    padding: 0px 10px;
}
#submit:hover{
    cursor: pointer;
}
.headings {
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

/*main section*/
main {
    background-color:none;
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
aside{
    display: flex;
    flex-direction: row;
    float: right;
    width: 20%;
    background-color: aqua;
}
#card-section{
    display: flex;
    flex: 3;
    flex-flow: row wrap;
    padding: 20px 80px;
}
.card{
    display: inline;
    width: 400px;
    float: right;
    margin: 10px;
    border: 1px solid black;
    
}
div.card:hover{
    border-color: green;
    opacity: 0.7;
}
div.card img{
    width: 100%;
    height: 300px;

}
div.activity-description {
    padding: 10;
    text-align: center;
}
.btn {
    background-color: red;
    border: none;
    display: flex;
    border-radius: 5px;
    margin: 10px 10px 4px 10px;
    font-size: 100%;
}